<h3>Top Heroes</h3>
<div class="grid grid-pad">
    <div class="col-1-4">
        <!--(click)="gotoDetail(hero)"-->
      {{#each heroes as |hero|}}
          <div class="module hero">
              <h4>{{hero.name}}</h4>
          </div>
      {{/each}}
    </div>
</div>
