<!--<form {{ action 'save' on="submit" }}>-->
    <div>
        <h2>{{model.name}} details!</h2>
        <div>
            <label>id: </label>{{model.id}}
            {{ input type="hidden" value=model.id }}
        </div>
        <div>
            <label>name: </label>
          {{ input type="text" value=model.name placeholder="name" }}
        </div>
        <button {{action 'back'}}>Back</button>
        <button {{action 'save'}}>Save</button>
    </div>
<!--</form>-->
