<h2>List of Heroes</h2>
<ul class="heroes">
  {{#each model as |hero|}}
      <li {{action 'detail' hero}}>
          <!--[class.selected]="hero === selectedHero"-->
          <!--(click)="onSelect(hero)"-->
          <span class="badge">{{hero.id}}</span> {{hero.name}}
      </li>
  {{/each}}
</ul>
